<div class="card bg-light rounded-0">
  <div class="card-header text-center rounded-0">
    <div class="row align-items-center">
      <div class="col text-left">{{ title }}</div>
      <div class="col text-right">
        <div class="btn btn-primary btn-sm rounded-0" (click)="openDialog()">Create a New Booking</div>
      </div>
    </div>
  </div>
  <div class="card-body rounded-0 p-0" *ngIf="bookingService.bookings?.length">
    <table class="table table-striped table-borderless">
      <thead>
        <tr>
          <th scope="col">Booking Name</th>
          <th scope="col">Room</th>
          <th scope="col">Duration</th>
          <th scope="col">Capacity</th>
          <th scope="col">Start on</th>
          <th scope="col">Total</th>
          <th scope="col">Payment Option</th>
          <th scope="col">Status</th>
          <th scope="col">Created at</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let booking of bookingService.bookings" [ngClass]="setClass(booking)">
          <td class="align-middle">{{ booking.bookingName }}</td>
          <td class="align-middle">{{ booking.room.roomNumber }}</td>
          <td class="align-middle">{{ booking.duration }} Days</td>
          <td class="align-middle">{{ booking.capacity }} Guests</td>
          <td class="align-middle">{{ booking.startOn | date }}</td>
          <td class="align-middle">{{ booking.total | currency }}</td>
          <td class="align-middle">{{ booking.paymentOption.name }}</td>
          <td class="align-middle">
            <div class="badge badge-primary rounded-0" *ngIf="booking.isActive">Active</div>
            <div class="badge badge-warning rounded-0" *ngIf="!booking.isActive">Pending</div>
          </td>
          <td class="align-middle">{{ booking.createdAt | date }}</td>
          <td class="text-right">
            <i *ngIf="booking.isActive" style="cursor: pointer" (click)="onToggle(booking)" class="text-danger fas fa-times-circle mr-2"></i>
            <i *ngIf="!booking.isActive" style="cursor: pointer" (click)="onToggle(booking)" class="text-success fas fa-check-circle mr-2"></i>
            <i style="cursor: pointer" (click)="openPaymentDialog(booking.id)" class="text-primary fas fa-dollar-sign mr-2"></i>
            <i style="cursor: pointer" (click)="onDelete(booking.id)" class="text-danger far fa-trash-alt"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-body rounded-0" *ngIf="!bookingService.bookings?.length">
    <div class="alert alert-primary m-0 rounded-0" role="alert">
      There are no any resources to show here.
    </div>
  </div>
  <div class="card-footer rounded-0 text-center text-secondary">
    Total Bookings: {{ bookingService.bookings?.length }}
  </div>
</div>