<div class="card rounded-0">
  <div class="card-header rounded-0 text-center">{{ title }}</div>
  <div class="card-body rounded-0 p-1">
    <div class="row no-gutters">
        <div class="col-2" *ngFor="let room of roomService.rooms">
          <div class="card rounded-0 my-1 mx-1" [ngClass]="setClass(room)">
            <div class="card-body rounded-0 d-flex justify-content-between align-items-center">
              <span>{{ room.roomNumber }}</span> <i *ngIf="!room.isAvailable" class="fas fa-window-close"></i>
            </div>
          </div>
        </div>
      </div>
  </div>
  <div class="card-footer rounded-0">ds</div>
</div>

